.container {
  display: flex;
  position: relative;
  background: var(--main-color);
  align-items: center;
  padding: 0 0 0 100px;
  overflow: hidden;
  color: white;
  min-height: 100vh;
  border-radius: 0 0 200px 0;
  @media (max-width: 1200px) {
    padding: 0 0 0 0;
    display: block;
  }
  @media (max-width: 1020px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.textbox {
  width: 100%;
  padding-left: 40px;
  margin-top: -100px;
  @media (max-width: 1200px) {
    margin-top: 10vh;
    padding-left: 0;
    text-align: center;
  }
  @media (max-width: 370px) {
    margin-top: 2vh;
    padding-left: 0;
    text-align: center;
  }
}

.bold {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 45px;
  width: 500px;
  margin: 0;
  @media (max-width: 1200px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    font-size: 40px;
  }
  @media (max-width: 370px) {
    font-size: 30px;
  }

  span {
    display: inline-block;
  }
}

.gtext {
  background: -webkit-linear-gradient(#ff62e3, #2b63f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-family: "Poppins", sans-serif;
  width: 500px;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 10px;
  @media (max-width: 1200px) {
    width: 100%;
  }
  @media (max-width: 370px) {
    font-size: 15px;
    padding: 0 10px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  @media (max-width: 1200px) {
    justify-content: center;
  }
}

.button {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  background: linear-gradient(315deg, #ff62e3 0%, #2b63f3 74%);
  padding: 12px 30px;
  margin: 5px 0;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background: linear-gradient(315deg, #2b63f3 0%, #ff62e3 74%);
}
.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  color: white;
  left: 5%;
  height: 110%;
  width: 90%;
  opacity: 0.8;
  border-radius: 50px;
  background: inherit;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover::after {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

@keyframes pulse {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.icon {
  width: 32px;
  height: 32px;
  fill: white;
}

.banner {
  width: 100%;
  padding-left: 100px;
  /* margin-top: 75px; */
  position: relative;

  @media (max-width: 1200px) {
    display: none;
  }
}

.banner2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  position: absolute;
  bottom: 0px;

  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
  @media (max-width: 600px) {
    display: block;
    bottom: 20px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.circle {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);

  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin 10s linear infinite;
  }
  @media (max-width: 1200px) {
    left: 47%;
  }
  @media (max-width: 768px) {
    left: 47%;
    top: 32%;
  }
  @media (max-width: 600px) {
    left: 50%;
    top: 50%;
  }
  @media (max-width: 370px) {
    top: 60%;
  }
}

.hand {
  animation: bounce 3s ease infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
